{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <section class="card">
                <div class="card-body">
                    <h3 class="text-center">Игра временно недоступна</h3>
                    <div class="row">
                        <div class="col-md-6 m-auto">
                            <img class="rounded img-fluid" alt="Roulette" src="{{ asset('images/games/roulette_big.png') }}" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <header class="page-header">
        <h2>Рулетка</h2>

        <div class="right-wrapper text-right pr-5">
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('homepage') }}" title="Главная страница">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li><a href="{{ path('games') }}">Игры</a></li>
            </ol>
        </div>
    </header>
{% endblock %}

{% block title %}Рулетка{% endblock %}