<!doctype html>
<html class="boxed" lang="ru">
    <head>

        <!-- Basic -->
        <meta charset="UTF-8">

        <title>{% block title %}Добро пожаловать{% endblock %} | Quizzle</title>

        <meta name="keywords" content="{% block keywords %}quizzle, demo, app{% endblock %}" />
        <meta name="description" content="{% block description %}Quizzle Demo App{% endblock %}">
        <meta name="author" content="{% block author %}Mike Iceman{% endblock %}">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Quizzle Demo App">
        <meta name="format-detection" content="telephone=no">
        <!--link href="http://quizzle/" rel="canonical" /-->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">

        <!-- Web Fonts  -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

        <!-- Default Vendor CSS -->
        <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="/vendor/animate/animate.css">

        <link rel="stylesheet" href="/vendor/font-awesome/css/fontawesome-all.min.css" />
        <link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.css" />
        <link rel="stylesheet" href="/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
        <link rel="stylesheet" href="/vendor/select2/css/select2.css" />
        <link rel="stylesheet" href="/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
        <link rel="stylesheet" href="/vendor/datatables/media/css/dataTables.bootstrap4.css" />
        <link rel="stylesheet" href="/vendor/pnotify/pnotify.custom.css" />
        <link rel="stylesheet" href="/vendor/jquery-ui/jquery-ui.css" />
        <link rel="stylesheet" href="/vendor/jquery-ui/jquery-ui.theme.css" />
        <link rel="stylesheet" href="/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
        <link rel="stylesheet" href="/vendor/morris/morris.css" />

        <!-- Theme CSS -->
        <link rel="stylesheet" href="/css/theme.css" />

        <!-- Skin CSS -->
        <link rel="stylesheet" href="/css/skins/default.css" />

        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="/css/custom.css">

        <!-- Head Libs -->
        <script src="/vendor/modernizr/modernizr.js"></script>

    </head>
    <body class="loading-overlay-showing" data-loading-overlay>
        <div class="loading-overlay">
            <div class="bounce-loader">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <section class="body">
            {{ render(controller('AppBundle:Default:renderHeader')) }}

            <div class="inner-wrapper">
                {{ render(controller('AppBundle:Default:renderSidebar', {currentRoute: app.request.attributes.get('_route')})) }}
                <section role="main" class="content-body">
                    {% block breadcrumbs %}{{ render(controller('AppBundle:Default:renderBreadcrumbs')) }}{% endblock %}
                    <!-- start: page -->
                    {% block body %}

                    {% endblock %}
                    <!-- end: page -->
                </section>
            </div>
        </section>

        <!-- Vendor -->
        <script src="/vendor/jquery/jquery.js"></script>
        <script src="/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
        <script src="/vendor/popper/umd/popper.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.js"></script>
        <script src="/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="/vendor/common/common.js"></script>
        <script src="/vendor/nanoscroller/nanoscroller.js"></script>
        <script src="/vendor/magnific-popup/jquery.magnific-popup.js"></script>
        <script src="/vendor/jquery-placeholder/jquery-placeholder.js"></script>

        <!-- Specific Page Vendor -->
        <script src="/vendor/select2/js/select2.js"></script>
        <script src="/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
        <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js"></script>
        <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js"></script>
        <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js"></script>
        <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js"></script>
        <script src="/vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js"></script>
        <script src="/vendor/datatables/extras/TableTools/pdfmake-0.1.32/pdfmake.min.js"></script>
        <script src="/vendor/datatables/extras/TableTools/pdfmake-0.1.32/vfs_fonts.js"></script>
        <script src="/vendor/jquery-ui/jquery-ui.js"></script>
        <script src="/vendor/jqueryui-touch-punch/jqueryui-touch-punch.js"></script>
        <script src="/vendor/jquery-appear/jquery-appear.js"></script>
        <script src="/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
        <script src="/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
        <script src="/vendor/flot/jquery.flot.js"></script>
        <script src="/vendor/flot.tooltip/flot.tooltip.js"></script>
        <script src="/vendor/flot/jquery.flot.pie.js"></script>
        <script src="/vendor/flot/jquery.flot.categories.js"></script>
        <script src="/vendor/flot/jquery.flot.resize.js"></script>
        <script src="/vendor/jquery-sparkline/jquery-sparkline.js"></script>
        <script src="/vendor/raphael/raphael.js"></script>
        <script src="/vendor/morris/morris.js"></script>
        <script src="/vendor/gauge/gauge.js"></script>
        <script src="/vendor/snap.svg/snap.svg.js"></script>
        <script src="/vendor/liquid-meter/liquid.meter.js"></script>
        <script src="/vendor/jqvmap/jquery.vmap.js"></script>
        <script src="/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
        <script src="/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
        <script src="/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
        <script src="/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
        <script src="/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
        <script src="/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
        <script src="/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
        <script src="/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
        <script src="/vendor/pnotify/pnotify.custom.js"></script>

        <!-- Theme Base, Components and Settings -->
        <script src="/js/theme.js"></script>

        <!-- Theme Custom -->
        <script src="/js/custom.js"></script>

        <!-- Theme Initialization Files -->
        <script src="/js/theme.init.js"></script>

        <!-- Examples -->
        <script src="/js/examples/examples.dashboard.js"></script>

        <!-- Custom JS -->
        {% block javascripts %}{% endblock %}
    </body>
</html>