<header class="page-header">
    <h2>Главная страница</h2>

    <!-- div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li><span>Layouts</span></li>
            <li><span>Default</span></li>
        </ol>
    </div -->
</header>